$color-orange: #CD6326;
$color-orange-light: #E39128;
$color-orange-dark: #8F5613;
$color-dark-grey: #333333;
$color-light-grey: #666666;
$color-white: #F7F7F7;

$font-roboto: 'Roboto', sans-serif;
/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

$content-wigth: 1200px;
